<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head") %>
    <link rel="stylesheet" href="/stylesheets/category.css" />
</head>
<body>
    <%- include("partials/header") %>
    <div class="container">
        <div class="header_category">
            <div class="titulo">
                <h2>Celulares ( 33 )</h2>
            </div>
            <div class="ordenarPor">
                <label for="ordenarPor">Ordenar por : </label>
                <select name="ordenarPor" id="ordenarPor">
                    <option value="">Nombre Ascendente</option>
                    <option value="">Nombre Descendente</option>
                    <option value="">Precio Ascendente</option>
                    <option value="">Precio Descendente</option>
                </select>
            </div>
            <div class="paginado">
                <p>1</p>
                <p>2</p>
                <span class="material-icons arrow_right">arrow_right</span>
            </div>
        </div>
        <div class="container_cards">
            <div class="cards">
                <div class="image">
                    <a href="/products/:category/:id"><img src="/images/samsumng_S20.webp" alt=""></a>
                </div>
                <div class="content">
                    <p>Nombre Producto</p>
                    <p>$3000</p><span>50% OFF</span>
                </div>
            </div>
        </div>
    </div>
    <%- include("partials/footer") %>
    <%- include("partials/scripts") %>
</body>
</html>