<footer>
    <div class="container_footer">
        <div class="redes_sociales">
           <a href="#"><i class="fab fa-instagram"></i></a>
           <a href="#"><i class="fab fa-facebook"></i></a>
           <a href="#whatsapp_message"><i class="fab fa-whatsapp"></i></a>
        </div>
        <div class="" id="whatsapp_message">
            <textarea name="message" id="" cols="30" rows="10"></textarea>
            <button>Enviar</button>
        </div>
        <hr class="hr_footer">
        <div class="contact">
            <h5 class="contact_title">CONTACTOS</h5>
            <ul>
                <li>
                    <p>
                        <i class="fas fa-home"></i> Pellegrini 1833, Rosario
                    </p>
                </li>
                <li>
                    <p>
                        <i class="fas fa-envelope"></i> info@e-commerce.com.ar
                    </p>
                </li>
                <li>
                    <p>
                        <i class="fas fa-phone"></i> 0341-4455787
                    </p>
                </li>
            </ul>
        </div>
        <div class="copyright"><i class="far fa-copyright"></i> e-commerce - Todods los derechos reservados</div>
    </div>
</footer>