<header>
    <div class="container">
        <div class="navbar-users">
            <div class="brand">
                <a href="#">
                    <p class="logo">E-Commerce</p>
                </a>
            </div>
            <div class="search">
                <input type="text" placeholder="Buscar productos">
                <div class="icon-search"><i class="material-icons">search</i></div>
            </div>
            <div class="navbar-login">
                <form action="" method="post">
                    <input type="text" placeholder="e-mail">
                    <input type="password" placeholder="Contraseña">
                </form>
            </div>
            <!-- The Modal -->
            <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-body">
                        <form action="" class="form">
                            <span class="close">&times;</span>
                            <h1 class="encabezado">LOGIN</h1>
                            <div class="email">
                                <input type="text" name="email" id="email" placeholder="ingrese el E-MAIL">
                            </div>
                            <div class="password">
                                <input type="password" name="password" id="password" placeholder="ingrese el PASSWORD">
                            </div>
                            <div class="submit">
                                <button class="button_login" type="button">ENVIAR</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <div class="navbar-icons">
                <ul>
                    <li><a href="#"><i class="material-icons icon-login">account_circle</i></a></li>
                    <li><a href="#"><i class="material-icons icon-cart">shopping_cart</i></a></li>
                </ul>
            </div>
        </div>
        <div class="navbar-pages">
            <div class="buttonCollapse">
                <i class="material-icons icon-menu">menu</i>
            </div>
            <div  >
                <ul id="menu-column">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Categorias</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">Registrarse</a></li>
                </ul>
            </div>
            <div>
                <ul  id="menu-inline">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Categorias</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">Registrarse</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>