h2 {
    padding-left: 20px;
    margin-top: 50px;
}

.card_detail {
    display: flex;
    flex-direction: row;
    width: 80%;
    max-height: 450px;
    margin: 30px auto;
}

.image {
    width: 70%;
    padding: 0;
}
img {
    max-width: 860px;
    max-height: 450px;
}

.info {
    width: 30%;
    padding: 20px 5px;
    background-color: white;
}

h3,
.price,
.priceWithDiscount,
.quantity {
    display: flex;
    margin: 0 auto 20px 10px;
}

.oldPrice {
    font-weight: 100;
    text-decoration: line-through;
}

.price p {
    width: 35%;
    font-weight: 100;
    font-size: calc(var(--fontSize));
}

span {
    align-self: center;
    text-decoration: none;
    font-size: calc(var(--fontSize) - 0.3rem);
}

.priceWithDiscount p {
    font-size: calc(var(--fontSize) + 1rem);
}

.discount {
    margin-left: 20px;
}

select {
    width: 40px;
    margin-left: 20px;
    border-radius: 2px;
}

.button_buy {
    width: 100%;
    font-size: var(--fontSize);
    text-transform: uppercase;
    background-color: var(--color);
    color: var(--bgColorUno);
    margin: 50px 0;
    padding: 5px 0;
    border-radius: 5px;
}

.button_buy:hover {
    background-color: var(--bgColorUno);
    color: var(--color);
}

.description {
    width: 100%;
    padding: 20px;
}

.description h2 {
    margin: 30px 0;
}

.description p {
    overflow: visible;
    white-space: break-spaces;
    text-overflow: none;
}

/* -------------------------- Mensajes ----------------------------------*/
.title {
    padding-left: 40px;
}

.content_messages {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.form_messages {
    display: flex;
    flex-direction: column;
    margin: 40px 0;
}
.form_messages .button {
    width: 80%;
    margin: 0 auto;
    text-align: right;
}
.form_messages textarea {
    width: 80%;
    margin: 0 auto;
    padding: 5px;
    border: none;
}
.form_messages label {
    width: 80%;
    margin: 0 auto;
    font-size: calc(var(--fontSize) - 0.4rem);
}
.messagesOnDb {
    width: 100%;
}
.oneMessage {
    padding: 0 20px;
}
.oneMessage h5 {
    background-color: rgb(119, 122, 118);
    padding-left: 10px;
}
.oneMessage h5 span {
    font-size: calc(var(--fontSize) - 0.5rem);
    color: rgba(0, 0, 0, 0.5);
}
.oneMessage p {
    background-color: rgb(153, 158, 152);
    padding-left: 10px;
}

@media (max-width: 960px) {
    .price p {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .card_detail {
        flex-direction: column;
    }
    .image {
        width: 100%;
    }
    img {
        width: 100%;
    }
    .info {
        width: 100%;
    }
    .price p {
        width: 20%;
    }
    .description {
        margin-top: 400px;
    }
}
