:root {
  --bgColorUno: rgb(186, 193, 184);
  --bgColorDos: rgb(12, 124, 89);
  --bgColorTres: rgb(214, 73, 51);
  --bgColorCuatro: rgb(88, 164, 176);
  --fontSize: 1.3rem;
  --color: #2b303a;
  --colorHover: var(--bgColorCuatro);
  --bgColorHover: var(--bgColorCuatro);
  --heightNavbarContent: 1.5rem;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--bgColorUno);
  font: var(--fontSize) "Lucida Grande", Helvetica, Arial, sans-serif;
  color: var(--color)
}

a, li {
  color: var(--color);
  text-decoration: none;
  list-style: none;
}

/*================================================HEADER===========================================================*/
.container {
  padding-top: 33px;
}

  .navbar-users {
    width: 100%;
    padding: 5px 10px;
    background-color: var(--bgColorTres);
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    z-index: 15;
  }

    .brand {
      width: 20%;
      display: flex;
      margin-right: 10px;
      align-items: center;
      justify-content: center;
      font-size: var(--heightNavbarContent);
      font-weight: 900;
      letter-spacing: 0.2rem;
    }

    .search {
      width: 40%;
      display: flex;
      align-items: center;
      margin-left: auto;
    }
    
    .search form {
      width: 100%;
      display: flex;
      align-items: center;
    }

    .search input {
      width: 90%;
      height: var(--heightNavbarContent);
      border-radius: 50px 0px 0px 50px;
      padding-left: 20px;
      border: none;
    }

    .icon-search {
      background-color: white;
      height: var(--heightNavbarContent);
      border-radius: 0px 50px 50px 0px;
      border: none;
      padding-right: 5px;
    }

    .navbar-icons {
      width: 30%;
      display: flex;
      align-self: center;
      justify-content: end;
    }

    .icon_logout,
    .icon_user,
    .icon_cart {
      margin-right: 15px;
      font-size: var(--heightNavbarContent);
      color: var(--color);
    }

    .material-icons:hover {
      color: var(--bgColorUno)
    }

    .loginOn {
      color: #00CC00;
      filter: drop-shadow( 0px 0px 5px rgba(0,255,0,0.7))
    }

    .loginOn:hover {
      color: #54d100;
      filter: none;
    }

    .icon_logout a {
      font-size: var(--fontSize);
      font-weight: lighter;
    }

  .navbar-pages {
    position: fixed;
    left: 0;
    top: 35px;
    right: 0;
    border: none;
    box-shadow: 0px 5px 5px grey;
    z-index: 10;
  }

    .navBar-inline {
      display: flex;
      flex-direction: row;
    }
      .categorys {
        width: 20%;
        padding: 5px;
        background-color: var(--bgColorTres);
        text-align: center;
      }

      .categorys:hover > .subMenu {
        display: flex;
      }

      .navBar-inline .subMenu {
          display: none;
          flex-direction: column;
          position: absolute;
          top: 35px;
          left: 0;
          border-radius: 5px;
          padding: 20px 5px;
          width: 20%;
          background-color: rgba(0, 0, 0, 0.8);
        }

        .navBar-inline .subMenu li {
          margin: 5px 0;
          padding: 10px 50px;
        }
        .navBar-inline .subMenu li:hover {
          background-color: rgb(216, 216, 216);
        }
        .navBar-inline .subMenu li a{
          color: white;
        }
        .navBar-inline .subMenu li:hover a{
          color: var(--color);
        }

      .navbar-items {
        display: flex;
        justify-content: end;
        width: 80%;
        padding: 5px;
        background-color: var(--bgColorTres);
      }

        #menu-inline li {
          margin: 2px 20px;
        }

        #menu-inline li:hover {
          margin: 0 20px;
          border-bottom: 2px solid var(--color);
        }

    .buttonCollapse {
      width: 100%;
      background-color: var(--colorHover);
      display: none;
      justify-content: center;
    }

    #menu-column {
      display: none;
      flex-direction: column;
      align-items: center;
      background-color: white;
      padding-bottom: 10px;
    }

      #menu-column li {
        text-align: center;
        padding: 10px 0;
      }

      #menu-column li:hover {
        box-shadow: 0 5px 3px var(--color);
      }

      #menu-column li:first-child:hover .subMenu {
        display: flex;
        flex-direction: column;
      }

        #menu-column li a {
          padding: 0 200px;
        }

      #menu-column .subMenu {
        display: none;
      }

      #menu-column li:first-child:hover .subMenu li a {
        color: grey;
      }

      #menu-column li:first-child:hover .subMenu li:hover {
        box-shadow: 0 0 0;
        font-size: calc(var(--fontSize) + 0.1rem);
      }
      #menu-column li:first-child:hover .subMenu li a:hover {
        color: var(--color);
      }
.container_cart {
  display: none;
}
  .products_cart {
    position: fixed;
    top: 75px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 30%;
    border-radius: 5px;
    z-index: 15;
  }
    .form_cart button, 
    .clear_cart {
      width: 100%;
      color: white;
      background-color: transparent;
      border: none;
      text-align: center;
    }
    .form_cart button:hover,
    .clear_cart:hover {
      color: blue;
    }
    .container_cart h4 {
      text-align: center;
      color: white;
      margin: 10px 5px;
    }
    .container_cart a:hover {
      color: blue
    }

    .oneProduct{
      display: flex;
      flex-direction: column;
      padding: 3px;
    }
    .row {
      display: flex;
      flex-direction: row;
    }
    .image_cart {
      width: 20%;
      color: white;
    }
    .content_cart {
      width: 80%;
      color: white;
      padding-left: 20px;
    }
.cantProduct {
  position: fixed;
  top: 0;
  right: 20px;
  z-index: 20;
  color: black;
}

/*=============================================   BODY  ========================================================*/

/*---------   SLIDER  -------------*/
/* Contenedor general */
#slider-wrapper {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  font-family: arial, sans-serif;
  font-size: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  }
  /* Contenedor slider */
  #slider {
  position: relative;
  width: 100%;
  margin-bottom: 50px;
  padding-bottom: 50%; /* Aspect ratio */
  overflow: hidden;
  border:0px solid #333;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  }
  #slider > a {
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  min-height: 100%;
  }
  /* Ajuste de las imágenes */
  #slider img {
  width: 100%;
  min-height: 100%;
  position: absolute;
  margin:0;
  padding:0;
  border:0;
  }
  /* Texto que acompaña a cada imagen */
  #slider p {
  position: absolute;
  bottom: 5%;
  left: 0;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 80%;
  height: 20px;
  margin:0;
  padding: 5px 0;
  border-radius: 0 20px 20px 0;
  color: #eee;
  background: rgba(0, 0, 0, 0.3);
  font-size: 18px;
  line-height: 12px;
  text-align:center;
  }

  /* Flechas de navegación */
  a.mas, a.menos {
  position: absolute;
  top: 50%;
  left: 0px;
  z-index: 5;
  width: 20px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 60px;
  color: var(--color);
  /* background: #333; */
  text-decoration: none;
  transition: .5s margin ease;
  }
  a.mas {
  left: 100%;
  margin-left: -40px;
  }
  #slider-wrapper:hover a.mas {
  color: white;
  }
  a.menos {
  left: 0;
  margin-left: 20px;
  }
  #slider-wrapper:hover a.menos {
  color: white;
  }

  /*-------------- CARDS -----------------*/
  hr {
    color: var(--bgColorUno);
    margin: 50px;
    box-shadow: 0px 2px 5px 1px grey;
  }
  .container_cards{
    padding: 0px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
    .title {
      padding-left: 50px;
      margin-bottom: 30px;
    }
    .cards {
      position: relative;
      background-color: white;
      max-width: 20%;
      min-width: 15%;
      margin: 2% 2%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: end;
    }
    .fa-cart-plus{
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: var(--fontSize);
    }
    .fa-cart-plus:hover{
      color: var(--bgColorUno);
    }
    .cards:hover {
      border: 1px solid var(--color);
      box-shadow:  0px 0px 5px 3px var(--color);
    }
    .cards:hover p {
      overflow: visible;
      white-space: break-spaces;
      text-overflow: none;
    }
    .cards:hover img {
      width: 80%;
    }
    .cards:hover .image {
      display: flex;
      justify-content: center;
    }

    .cards a {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
      .image {
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 30px 5px;
      }
        img {
          width: 100%;
        }

      .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: var(--bgColorCuatro);
        padding: 30px 5px;
        text-align: center;
        border-top: 2px solid var(--bgColorUno)
      }
        .content .name, .content .price {
          width: 100%;
        }
        p {
          font-size: calc(var(--fontSize) - 0.3rem);
          line-height: 30px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        span {
          margin-left: 20px;
        }
      .banner {
        width: 96%;
        margin: auto auto;
        box-shadow: 5px 1px 3px 1px grey;
      }
      .banner_image {
        width: 100%;
      }
/*=============================================   FOOTER  ========================================================*/

/*---------- REDES SOCIALES------------ */
.container_footer {
  background-color: var(--bgColorTres);
}
.redes_sociales {
  width: 100%;
  display: flex;
  justify-content: center;
}
.fab {
  color: var(--color);
  font-size: 3rem;
  margin: 30px;
}
.fab.fa-instagram:hover{
  color:rgb(224, 105, 61);
  font-size: 4rem;
  margin: 20px;
}
.fab.fa-facebook:hover{
  color: blue;
  font-size: 4rem;
  margin: 20px;
}.fab.fa-whatsapp:hover{
  color: green;
  font-size: 4rem;
  margin: 20px;
}
.hr_footer {
  width: 50%;
  margin: 0px auto 0px auto;
}
/*------------- CONTACTO ------------ */
.contact {
  padding: 20px;
  text-align: center;
}
.contact p {
  color: var(--color);
  font-size: var(--fontSize);
}
.copyright {
  background-color: var(--bgColorTres);
  text-align: center;
  padding: 20px 0px;
  font-size: 0.9rem;
  color: var(--color);
}

@media(min-width: 930px){
}

@media(max-width: 768px){
  .cards {
    min-width: 45%;
  }
  .navbar-pages {
    top: 40px;
  }
}

@media(max-width: 576px){
  .navbar-users{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .brand,
  .navbar-icons {
    width: 40%;
  }
  .search {
    width: 60%;
  }
  .navbar-pages {
    top: 70px;
  }

  .cards {
    min-width: 90%;
  }

  .navbar-pages ul{
    position: relative;
  }

  .subMenu {
    display: none;
    flex-direction: column;
    position: relative;
    left: 0px;
    top: 0px;
  }

  .navbar-pages li:hover > .subMenu {
    width: 5%;
    border-radius: 0px ;
    background-color: var(--bgColorHover);
  }

  .navbar-pages li:hover > .subMenu li{
    border-radius: 0px 20px 20px 0px;
    position: relative;
  }
}